body {
  background-color: #fff;
}

.types-container-first {
  width: 100%;
  max-width: 1920px;
}

.page-heading {
  margin: 150px 0 50px 0px;
  color: #cf9312;
  font-weight: normal;
}

h4 {
  color: #666;
}

.types-container-second {
  overflow: hidden;
}

.types-container-second img {
  width: 100%;
}

.types-container-second .col-md-6 {
  border: 1px solid #ccc;
  padding: 1.5rem;
}

.types-container-second img {
  transition: transform 0.5s;
}

.types-container-second img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
